@charset "utf-8";
/* CSS Document */
body{
	background-color: #DDF5FC;
}
*{
	margin: 0;
	padding: 0;
	color: #000;
	
}

.hec{
	width: 100%;
	height: 150px;
	background-color: #F5F5F5;
	min-width: 2180px;
	
}
.hec img{
	height: 150px;
	width: 100%;
}
.allc a{
	text-decoration: none;
	color: #fff;
}
.allc{
	width: 100%;
	height: 70px;
	font-size: 24px;
	font-weight:bold;
	content: '';
	display: block;
	clear: both;
	background-color: #99D9E5;
	min-width: 2180px;
}

.fc{
	background-color:#99D9E5;
	width:1500px;
	height: 70px;
	margin: 0 700px;
	

}
.fc ul li{
	float: left;
	padding: 20px 70px;
	position: relative;
	
	
}
.fc ul li div {
	position: absolute;
	width: 200px;
	

}
.fc ul li a:hover{
	background-color: #84F0D0;
}
.fc ul li div{
	background-color: #99D9E5;
	width: 200px;
	position: absolute;
	top:70px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	font-size: 18px;
	display: none;
	
}
.fc ul li:hover div{
	display: block;
	
}
.fc ul li  div a{
	display: block;
	height: 40px;
	
}
li{
	list-style-type: none;
}

.alc{
	width: 2000px;
	display: flex;
}

.lc{
	width:800px;
	border-right: 2px solid #8B8B8B;
	float: left;
	
}
.lc div{
	width: 500px;
	height: 300px;
	margin: 70px 150px;
	background-color: #fff;
	box-shadow: 0 0 15px 2px;
	border-radius: 30px;
	text-align: center;
	line-height: 300px;
}
.st{
	height: 1000px;
	width: 1200px;
	float: left;

}
.footer{
	width: 100%;
	height: 60px;
	background-color: #99D9E5;
	display: flex;
	border-top: 2px solid #8B8B8B;
	text-align: center;
	line-height: 60px;
}
.footer div{
	width: 100%;
	background-color: #DDF5FC;
	height: 60px;
	
	
}

.banner-container{
	width:1200px;
	height:600px;
	margin:1rem auto;
	overflow: hidden;
	position: relative;
	margin: 70px 300px;
	box-shadow: 0 0 15px 5px;
	border-radius: 30px;
	

}

.banner-container .banner-img-container {
	width:6000px;
	height:600px;
	overflow: hidden;
	position: absolute;
	display: flex;
	animation: run 10s ease infinite;
	
}

.banner-container .banner-img-container img{
	width:1200px;
	height:100%;
}

@keyframes run {
	0%,10%{
		transform: translateX(0);
	}
	20%,30%{
		transform: translateX(-1200px);
	}
	40%,50%{
		transform: translateX(-2400px);
	}
	60%,70%{
		transform: translateX(-3600px);
	}
	80%,90%{
		transform: translateX(-4800px);
	}
	100%{
		transform: translateX(0);
	}
}
.con {
    width: 400px;
    height: 300px; 
    float: left; 
    margin: 70px 150px;
    position: relative; 
    box-shadow: 3px 3px 10px #666;
    overflow:hidden;
	border-radius: 20px;
}
.con span {
    width: 248px;
    height: 390px; 
    background: #333;
    position: absolute;
    left: -300px;
    top: 0px;
    filter: Alpha(opacity=80);
    -moz-opacity: 0.8; 
    opacity: 0.8; 
    padding: 20px; 
    -webkit-transition: left 0.5s ease;
}
.con span h1 {
    height: 30px;
    color: #fff;
    font-size:18px;
    text-align: center;
    position: relative;
    left: -500px;
    -webkit-transition: left 1s ease;
}
.con span p {
    line-height: 25px; 
    font-size:14px; 
    color: #fff;
    position: relative; 
    left: -500px;
    -webkit-transition: left 1s ease;
}
.con:hover span {
    left:0px;
}
.con:hover span h1 {
    left: 0px;
}
.con:hover span p {
    left: 0px;
}

